html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/weather.png'); /* Background pattern from Subtle Patterns */
    font-family: "Muli", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: "Muli", sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #59c2f3 0%, #02ccba 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #00a5d3;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #036b88;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #e7d67f;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .timer {
    display: inline-block;
    margin-left: 30px;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/*
 * Styles for the Modal
 */
.modal {
    display: none;
    overflow: auto;
    margin: 70px auto;
    padding: 20px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    border-radius: 5px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    z-index: 1;
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #000;
    width: 80%;
    min-width: 200px;
    max-width: 600px;
    text-align: center;
}

.modal-content h2 {
    margin-top: 0;
    color: #000;
}

.fa-trophy {
    font-size: 2vw;
    color: #00a5d3;
}

.close {
    color: #000;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

#play-again {
    font-size: 1vw;
    font-weight: 400;
    background: #02ccba;
    color: white;
    height: 4em;
    width: 75%;
    max-width: 100%;
    cursor: pointer;
}
